<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Faucet</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <main>
            {{{body}}}
        </main>
    </div>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</body>

</html>