<h1>Welcome to our Faucet</h1>
<form action="/faucet" method="POST">
    <input type="text" placeholder="Your address" name="address" id="address">
    <input type="submit" value="Request 1 coin">
    <div class="g-recaptcha" data-sitekey="6LeA30sUAAAAAESS3Z8et-3lw9Bt1BsGRB7tLOtc"></div>
</form>